.form-group:last-child {
    margin-bottom: 0 !important;
}

.form-control-range {
    background-color: initial !important;
}

.group {
    padding-bottom: 1rem;
    border-bottom: 1px dashed #eaeaea;
}

.group:not(:last-of-type) {
    margin-bottom: 1rem;
}

.box {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box__form {
    width: 75%;
    margin: 0 auto;
}

.box__textarea {
    resize: none;
    font-size: 14px;
}