.form-group:last-child {
    margin-bottom: 0 !important;
}

.form-control-range {
    background-color: initial !important;
}

.group {
    padding-bottom: 1rem;
    border-bottom: 1px dashed #eaeaea;
}

.group:not(:last-of-type) {
    margin-bottom: 1rem;
}